{
    "presets": ["@babel/preset-flow", "@babel/preset-env"],
    "plugins": [
        ["babel-plugin-root-import", {
            "rootPathSuffix": "src"
        }],
        "@babel/transform-runtime"
    ]
}